[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Visual Studio
.vs/
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db
Assets/Plugins/UniRx/
Assets/Plugins/Demigiant/DOTween/
